.card-cat {
    position: relative;
    background-color: $clr1;

    @for $i from 1 through 6 {
        &:nth-child(6n + #{$i}) {
            background-color: adjust-hue($clr1, $i * 4);
        }
    }

    &:nth-child(3n + 3) {
        grid-column: span 2;
        grid-row: span 2;
    }

    .cat-tag {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $clr6;
        font-family: caveat, serif;
        font-size: rem(70px);
        z-index: 1;
    }

    .cat-image {
        mix-blend-mode: multiply;
        filter: grayscale(1);
    }

    // &::after {
    //     content: "";
    //     position: absolute;
    //     inset: 0;
    //     background-image: linear-gradient(185deg, rgba($clr1, .4) 0%,  rgba($clr1, .6) 100%);
    // }
}
